api.benedikt-bergenthal.de {
	reverse_proxy strapi:1337
}

benedikt-bergenthal.de {
	encode gzip
	header (.png|.jpg|.jpeg|.gif|.woff2|.woff|.svg|.ttf){
		Cache-Control "public, max-age=84600"
	}
	reverse_proxy frontend
}

hooks.benedikt-bergenthal.de {
	reverse_proxy http://benedikt-bergenthal.de:9000
}

www.benedikt-bergenthal.de {
	redir benedikt-bergenthal.de
}