api.benedikt-bergenthal.de {
	reverse_proxy strapi:1337
}

benedikt-bergenthal.de {
	encode gzip
	header @static Cache-Control max-age=84600
	reverse_proxy frontend
}

@static {
  path_regexp \.(png|jpg|jpeg|gif|woff2|woff|svg|ttf)$
}

hooks.benedikt-bergenthal.de {
	reverse_proxy http://benedikt-bergenthal.de:9000
}

www.benedikt-bergenthal.de {
	redir benedikt-bergenthal.de
}