api.benedikt-bergenthal.de {
    reverse_proxy strapi:1337
}

benedikt-bergenthal.de {
	encode gzip
	reverse_proxy frontend
}

hooks.benedikt-bergenthal.de {
	reverse_proxy http://benedikt-bergenthal.de:9000
}
